@charset "UTF-8";

*{
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right, #44BBA4, #242a9e );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8a8ca8;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    color: #44BBA4;
    text-align: center;
    text-shadow: 1px 1px 2px black;

}

h2{
    color: darkmagenta;
}

p{
    text-align: justify;
}

